In [18]:
import pandas as pd
df=pd.read_csv("heart.data.csv")

In [19]:
df.shape

(498, 4)

In [20]:
df.head()

   Unnamed: 0     biking    smoking  heart.disease
0           1  30.801246  10.896608      11.769423
1           2  65.129215   2.219563       2.854081
2           3   1.959665  17.588331      17.177803
3           4  44.800196   2.802559       6.816647
4           5  69.428454  15.974505       4.062224

In [21]:
del df['Unnamed: 0']

In [22]:
df.shape

(498, 3)

In [23]:
df.head()

      biking    smoking  heart.disease
0  30.801246  10.896608      11.769423
1  65.129215   2.219563       2.854081
2   1.959665  17.588331      17.177803
3  44.800196   2.802559       6.816647
4  69.428454  15.974505       4.062224

implementing mul linear regression

In [24]:
df.count()

biking           498
smoking          498
heart.disease    498
dtype: int64

In [25]:
N=498

In [26]:
x1_mean=df['biking'].mean()
x2_mean=df['smoking'].mean()
y_mean=df['heart.disease'].mean()

In [27]:
df['x1*x1']=df['biking']*df['biking']
df['x2*x2']=df['smoking']*df['smoking']
df['x1*x2']=df['biking']*df['smoking']
df['x1*y']=df['biking']*df['heart.disease']
df['x2*y']=df['smoking']*df['heart.disease']

In [28]:
df.head()

,biking,smoking,heart.disease,x1*x1,x2*x2,x1*x2,x1*y,x2*y
0,30.801246,10.896608,11.769423,948.716737,118.736066,335.629101,362.512883,128.246787
1,65.129215,2.219563,2.854081,4241.814668,4.926461,144.558408,185.884087,6.334814
2,1.959665,17.588331,17.177803,3.840285,309.349370,34.467227,33.662732,302.128885
3,44.800196,2.802559,6.816647,2007.057527,7.854336,125.555186,305.387115,19.104054
4,69.428454,15.974505,4.062224,4820.310180,255.184797,1109.085152,282.033898,64.892008

calculating required sums

In [32]:
x1_square=(df['x1*x1'].sum())-(df['biking'].sum()**2)/N
x2_square=(df['x2*x2'].sum())-(df['smoking'].sum()**2)/N
x1x2=df['x1*x2'].sum()-(df['biking'].sum()*df['smoking'].sum())/N
x1x2_square=x1x2*x1x2
x1y=df['x1*y'].sum()-(df['biking'].sum()*df['heart.disease'].sum())/N
x2y=df['x2*y'].sum()-(df['smoking'].sum()*df['heart.disease'].sum())/N

### calculating b1,b2,b0 using formulas

In [33]:
b1=((x2_square*x1y)-(x1x2*x2y))/((x1_square*x2_square)-(x1x2_square))
b1

-0.20013305195862285

In [34]:
b2=((x1_square*x2y)-(x1x2*x1y))/((x1_square*x2_square)-(x1x2_square))
b2

0.17833391383818653

In [35]:
b0=y_mean-b1*x1_mean-b2*x2_mean
b0

14.984657987225837

In [36]:
y_pred=(b1*15)+(b2*20)+b0
y_pred

15.549340484610225

In [37]:
from sklearn.linear_model import LinearRegression
x=df[['biking','smoking']]
y=df['heart.disease']
model=LinearRegression().fit(x,y)

In [38]:
model.predict([[15,20]])

array([15.54934048])