In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({
    'Student':[1,2,3,4,5],
    'X':[95,85,80,70,60],
    'Y':[85,95,70,65,70]
})
df

   Student   X   Y
0        1  95  85
1        2  85  95
2        3  80  70
3        4  70  65
4        5  60  70

In [3]:
df['X-Mean(X)']=df['X']-df['X'].mean()
df['Y-Mean(Y)']=df['Y']-df['Y'].mean()

df['(X-Mean(X))^2']=df['X-Mean(X)']*df['X-Mean(X)']
df['(Y-Mean(Y))^2']=df['Y-Mean(Y)']*df['Y-Mean(Y)']
df['Product']=df['X-Mean(X)']*df['Y-Mean(Y)']

b1=df['Product'].sum()/df['(X-Mean(X))^2'].sum()
b0=df['Y'].mean()-b1*df['X'].mean()

y1=b0+b1*80
y1

78.2876712328767

# program 2

In [4]:
y1

78.2876712328767